<div class="form">
  <div class="first_form">
    <p class="fill">Fill in your details for your</p>
    <h5 class="data">LIVE DATA EXPERIENCE</h5>
    <p class="time">which takes 8 minutes to setup <br> guided by one of our expects</p>
    <div class="triangle-down"></div>
  </div>
  <form>

    <div class="mb3">
      <input type="text" class="formcontrol" id="formGroupExampleInput1" placeholder="Name" required>
    </div>


    <div class="mb3">
      <input type="text" class="formcontrol" id="formGroupExampleInput2" placeholder="Email" required>
    </div>

    <div class="mb3">
      <textarea type="text" class="formcontrol" id="formGroupExampleInput3" placeholder="Message" required></textarea>
    </div>

    <div class="form_footer">

      <button type="button" class="btn btn-secondary btn-lg">Submit</button>

    </div>

  </form>
</div>

<!----Bottom Logo----->
  <div class="bottom_logo">
    <img src="./assets/img/bottom.png" alt="Failed to load image">
  </div>
