.form {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  height: 25.625em;
  left: 5em;
  margin: -12.8125em 0 0;
  position: absolute;
  top: 50%;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  width: 17.5em;
  z-index: 30;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.first_form {
  border-bottom: 1px solid #d4d7d9;
  min-height: 8.3125em;
}

.triangle-down {
	width: 25px;
	height: 20px;
  margin-left: 40%;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid #babcbf;
}

.fill {
  text-align:center;
  margin-top: 25px;
  margin-bottom: 0px;
}

.data {
  color:deepskyblue;
  text-align:center;
  margin-bottom: 0px;
}

.time {
  text-align:center;
  margin-bottom: 0px;
}

input[type="text"], input[type="email"],textarea[type="text"],
select.form-control {
  font-weight: 400;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto,  Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  background: #fff;
  border: none;
  border-bottom: 1px solid #babcbf;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: .875em;
  left: 1.42857em;
  width: 100%;
  height: 47px;
  transition: .2s cubic-bezier(.77,0,.175,1);
  clear: both;
  -webkit-transition: .2s cubic-bezier(.77,0,.175,1);
  -moz-transition: .2s cubic-bezier(.77,0,.175,1);
  -ms-transition: .2s cubic-bezier(.77,0,.175,1);
  -o-transition: .2s cubic-bezier(.77,0,.175,1);
}

textarea[type="text"],
select.form-control {
  height: 80px;
}

textarea:focus, input:focus{
  outline: none;
}

::placeholder {
  padding-left: 20px;
}

.form_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

button {
  left: 50%;
  top: 50%;
  padding: 14px 55px;
  background-color: #babcbf;
  border-color: #babcbf;
  color: #fff;
  border-radius: 1.25em;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  height: 2.5em;
  line-height: .5em;
  cursor: pointer;
  font-weight: 500;
  font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
}

.bottom_logo{
  position: absolute;
}

.bottom_logo path {
  fill: #081330;
}

.bottom_logo {
  width: 150px;
  left: 10px;
  bottom: 0px;
}

.bottom_logo img {
  height: 120.5px;
  width: 838.4;
}

@media only screen and (max-width:414px) {
  .form {
    display: none;
  }

  .bottom_logo{
    display: none;
  }
}
