
<div id="hamnav">
  <!---toogle button-->
  <label for="hamburger">&#9776;</label>
  <input type="checkbox" id="hamburger" onclick="mobileFunction()" class="dropbtn">

  <!---mobile navbar-->
  <div id="mobile" class="mobile-content">
    <a href="#help">Help</a>
    <a href="#products">Prodcuts</a>
    <a href="#aboutus">About Us</a>
    <a href="#signup">Sign Up</a>
    <a href="#signup">Log in</a>
  </div>

  <!--Desktop Navbar-->
  <nav class="nav nav--loaded">
    <ul class="nav__items">
      <li class="nav__item">
        <a class="nav__link">
          <span class="nav__label">Help</span>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <span class="nav__label">Products</span>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <span class="nav__label">About us</span>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <span class="nav__label">Sign up</span>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <span class="nav__label">Log in</span>
        </a>
      </li>
    </ul>
  </nav>

</div>

<div class="spinner logo spinner--single">
  <img src="./assets/img/logo.png" alt="failed to load logo">
</div>
