.nav {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(23, 24, 26, 0.11);
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: border-color 0.5s ease, opacity 0.4s ease;
  user-select: none;
  z-index: 40;
}

.nav .nav__items {
  display: flex;
}

.nav .nav__items{
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.nav .nav__label {
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: 2.375rem;
  position: relative;
  transition: color 0.2s ease-out;
}

.nav .nav__item {
  align-items: center;
  display: flex;
  border-right: 1px solid #d4d7d9;
  flex-grow: 1;
  justify-content: center;
  transition: background-color 0.2s ease-out;
}

.nav .nav__item:last-child {
  border-right: 0;
}
@media (min-width: 48em) {
  .nav .nav__item:hover {
    background: #f7f9fa;
  }
}

.no-js .nav .nav__item:hover {
  background: inherit;
}

.nav .nav__item .nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav .nav__item .nav__label {
  color: #17181a;
  font-weight: 500;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto,
    Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 0.875em;
  padding: 0 12px;
  text-decoration: none;
}

.nav .nav__item:first-child > :first-child {
  margin-right: auto;
}
.nav .nav__item:last-child > :first-child {
  margin-left: auto;
}

.nav--with-panel .nav__item:hover > .nav__link > .nav__label {
  color: #17181a;
}

.spinner.logo {
  position: fixed;
}

img {
  height: 70px;
  width: 70px;
}

#hamnav label, #hamburger {
  display:none;
}

.mobile-content {
  display: none;
}

@media only screen and (max-width: 414px) {

  #hamnav {
    color: aqua;
  }

  #hamnav label {
    display: inline-block;
    color: #fff;
    background: transparent;
    padding: 10px;
    font-size: 1.5em;
    width: 20px;
    height: 14px;
  }

  .nav {
    display: none;
  }

  .mobile-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .mobile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }

  .spinner.logo {
    display: none;
  }

}
