/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

html, body {
  padding: 0;
  margin: 0;
  font-family: Actief Grotesque, -apple-system, \.SFNSText-Regular,
    San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif !important;
}

body{
  background-image: url("./assets/img/background.png");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("./assets/img/media_queries.png");
  }
}

@media only screen and (max-width: 414px) {
  body {
    background-image: none;
    background-color: grey;
  }
}
